.footer {
    height:50px;
    width:100%;
    bottom:0px;
    left:0px;
    background: #CCCCCC;
    position:fixed;
}

.footerContent {
    margin: 1px auto;
    text-align: center;
    color: black;
}